<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <title></title>
      <meta name="description" content="" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <style>
         .bg {
            display: flex;
            color: white;
            width: 99%;
            height: 90vh;
            padding: 25px;
            border: 1px solid #444c56;
         }
      </style>
   </head>
   <body style="background-color: #22272e">
      <div class="bg">
         <div class="container">
            <h1>Recuperar contraseña</h1>
            <p style="display: none">
               this is a test email send by the system and development team to test the
               email template @gmail.com @outlook.com @yahoo.com {{.SupporEmail}}
            </p>
            <p>
               Hola, {{.Name}}. Haz solicitado un código para restablecer tu contraseña.
            </p>
            <p>Si no has sido tú, ignora este mensaje.</p>
            <p>
               Tu código es:
               <strong id="code"
                  style="
                     font-size: 1.5rem;
                     font-weight: bold;
                     border: 1px solid #444c56;
                     padding: 5px;
                  "
                  >{{.Code}}</strong
               >
            </p>
            <p>Gracias por usar nuestros servicios.</p>
            <p>El equipo de {{.AppName}}</p>
         </div>
         <script src="" async defer></script>
      </div>
   </body>
</html>
