:root {
   --main-bg-color: #22272e;
   --main-fg-color: #ffffff;
}

.container {
   display: flex;
   justify-content: center;
   background-color: var(--main-bg-color);
   color: var(--main-fg-color);
}
